.active-class{
    color: #f7ce9dde;
}
.status-style{
    color: rgb(239, 159, 60);
    background-color: #f7ce9dde;
}
.loading-table-invite{
    margin-top: 20%;
    margin-bottom: 40%;
    animation-name: spin;
    animation-duration: 900ms;
    animation-iteration-count:infinite ;
    animation-timing-function: linear;
    width: 12%;
    margin-right: 15%;
  }
  @keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}