
.profile-main{
    display: flex;
    justify-content: space-between;
}
.profile-main-content{
    width: 20%;
}
.profile-right{
    width: 80%;
}

.profilepage{
    background-color: #f9f9f9;
    height: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;

}
.profilepage-heading p{
    color:#716a79 ;
    padding-top: 10px;
}
.profilepage-fileformat{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.fileformat p{
    color: #716a79
}


.profilepage-back{
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px 10px 20px;
}
.profilepage-back a{
    text-decoration: none;
    color: #118586;
}
.profilepage-upload{
    display: flex;
    gap: 10px;
    align-items: center;
}
.profilepage-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 16px;
    width: 80%;
    margin-left: 10%;
    padding: 0px 60px 60px 60px;
}
.profilepage-heading{

    text-align: left;
    padding: 20px 20px 20px 30px;

}
.profilepage-upload{
    text-align: left;
    padding: 10px  15px 12px 28px;
    margin-bottom: 15px;
}


.profilepage-about{
    text-align: left;
    padding: 0px 30px 0px 30px;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.profilepage-about h1{
    padding: 10px 0px;
}
.edit-icon svg{
        margin-left: 3px;
        width: 15px;
}
.profile-icon-svg svg{

  
    width: 15px;
       
}
.kyc-icon svg{
  
    width: 15px;
}
.about-name{
    display: flex;
    text-align: left;
    color: #716a79;
    /* color: black; */
    font-weight: 700;
    border: none;
    width: 100%;
    gap: 80px;
    justify-content: space-between;
}
.about-first,.about-last, .about-user, .about-email {
    width: 100%;
}
.about-first input{
    padding: 10px 30px 10px 10px;
    width: 100%;
    border-radius: 7px;
    margin-top: 10px;
    
    border: none;
    border: 1px solid #ddd;
}
.about-last input{
    padding: 10px 30px 10px 10px;
    width: 100%;
    border-radius: 7px;
    margin-top: 10px;
    border: none;
    border: 1px solid #ddd;
}
.about-username{
    display: flex;
    text-align: left;
    color: #716a79;
    border: none;
    width: 100%;
    font-weight: 700;
    gap: 80px;
    margin-top: 20px;
    border: none;

}
.about-user input{
    padding: 10px 30px 10px 10px;
    width: 100%;
    border-radius: 7px;
    margin-top: 10px;
    border: none;
    border: 1px solid #ddd;
}
.about-email input{
    padding: 10px 30px 10px 10px;
    width: 100%;
    border-radius: 7px;
    margin-top: 10px;
    border: none;
    border: 1px solid #ddd;
}

.about-company{
    text-align: left;
    width: 100%;
    color: #716a79;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about-company input{
    width: 100%;
    padding: 10px 30px 10px 10px;
    border-radius: 7px;
    margin-top: 10px;
    border: none;
    border: 1px solid #ddd;

}
.profilepage-kyb {
    padding: 10px 30px;
}
.profilepage-kyb h1{
    margin-bottom: 10px;
}

.kybwrap{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 5px;

    background-color: #e0fdda;
    padding: 7px 0px;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 15px;
}
.kyb-sction svg{
    margin-top: 2px;
}
.profilepage-kyb{
    text-align: left;
    width: 100%;
    border-bottom:  1px solid #ddd;

}
.profilepage-photo img{
    object-fit: cover;
    border-radius: 50%;
}

.update-button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 10px 0px;
}
.update-button button{
    padding: 10px 35px 10px 35px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: #02AAA5;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.update-button button:disabled {
    background-color: #cccccc; 
    color: #666666; 
    cursor: not-allowed; 
  }
  


  .loading-profiles{
    margin-top: 30%;
    animation-name: spin;
    animation-duration: 700ms;
    animation-iteration-count:infinite ;
    animation-timing-function: linear;
    width: 12%;
    margin-right: 15%;
  }
  @keyframes spin{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateY(-180deg);
    }
}