.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px 10px 10px;
   border-bottom: 1px solid rgb(222, 222, 222);
   position: fixed;
   width: 100%;
   background-color: #ffffff;
}

.navbar-left{
    display: flex;
    justify-content: flex-start;
}
.navbar-left img{
    width: 20%;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-credits{
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px solid rgb(255, 200, 0);
    border-radius: 6px;
    padding: 20px 20px 20px 20px;
}
.navbar-bell svg{
    width: 30px;
    margin: 0px 10px 0px 10px;
}
.profile-icon {
    display: flex;
    align-items: center;
    gap: 6px;
}
.profile-icon img{
    width: 36px;
}